.userDetail {
    flex: 4;
}

/* .userDetailContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.userBodyContainer {
    display: flex;
}

.userDetailImg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.userDetailLeft {
    flex: 3;
    margin-right: 10px;
}

.userDetailTop {
    margin: 15px;
    display: flex;
}

.userDetailRight {
    flex: 4;
}

.userDetailInfoLeft {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.userDetailBottom {
    margin: 20px;
}

.userDetailInfoTitle {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.userDetailInfo {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.userDetailInfo > span {
    margin-left: 10px;
}